<div class="thumbnails-container">
  <div class="controls">
    <mat-checkbox [checked]="showLabels" (change)="showLabels = !showLabels">
      Show Labels
    </mat-checkbox>
  </div>
  
  <div class="thumbnails-grid" *ngIf="thumbnails.length > 0">
    <mat-card class="thumbnail-item" *ngFor="let thumbnail of thumbnails" 
         [style.width]="getColumnWidth()" 
         (click)="selectThumbnail(thumbnail.item)">
      <mat-card-content>
        <div class="thumbnail-image">
          <img [src]="thumbnail.imageUrl" alt="Design Thumbnail" onerror="this.src='assets/images/placeholder.png'">
        </div>
        <div class="thumbnail-title" *ngIf="showLabels">
          {{ thumbnail.title }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="no-data" *ngIf="thumbnails.length === 0">
    <mat-card>
      <mat-card-content>
        <p>No designs to display. Please adjust your filters.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
