<div class="sidebar-container">
  <mat-nav-list>
    <h3 mat-subheader>Data</h3>
    <a mat-list-item>
      <mat-icon mat-list-icon>cloud_upload</mat-icon>
      <span mat-line>Load Data</span>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>save</mat-icon>
      <span mat-line>Save Settings</span>
    </a>
    
    <mat-divider></mat-divider>
    
    <h3 mat-subheader>Views</h3>
    <a mat-list-item>
      <mat-icon mat-list-icon>view_quilt</mat-icon>
      <span mat-line>All Views</span>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>timeline</mat-icon>
      <span mat-line>Parallel Coordinates</span>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>scatter_plot</mat-icon>
      <span mat-line>Scatter Plot</span>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>grid_view</mat-icon>
      <span mat-line>Thumbnails</span>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>3d_rotation</mat-icon>
      <span mat-line>3D Viewer</span>
    </a>
  </mat-nav-list>
</div>
