<div class="sliders-container">
  <div class="sliders-header">
    <h5>Parameter Filters</h5>
    <button class="btn btn-sm btn-outline-secondary" (click)="resetFilters()">
      Reset Filters
    </button>
  </div>
  
  <div class="no-data" *ngIf="sliders.length === 0">
    <p>No parameters available. Please load data first.</p>
  </div>
  
  <div class="sliders-content" *ngIf="sliders.length > 0">
    <div class="slider-group" *ngFor="let slider of sliders">
      <div class="slider-header">
        <span class="slider-name" [class.input-param]="slider.isInput" [class.output-param]="!slider.isInput">
          {{ slider.displayName }}
        </span>
        <span class="slider-range">
          {{ slider.currentValue[0] | number:'1.2-2' }} - {{ slider.currentValue[1] | number:'1.2-2' }}
        </span>
      </div>
      
      <div class="slider-control">
        <input type="range" class="custom-range" 
               [min]="slider.min" 
               [max]="slider.max" 
               [step]="slider.step"
               [(ngModel)]="slider.currentValue[0]"
               (change)="onSliderChange(slider)">
        
        <input type="range" class="custom-range" 
               [min]="slider.min" 
               [max]="slider.max" 
               [step]="slider.step"
               [(ngModel)]="slider.currentValue[1]"
               (change)="onSliderChange(slider)">
      </div>
    </div>
  </div>
</div>
