<div class="scatter-chart-container">
  <div class="controls">
    <div class="axis-selectors">
      <mat-form-field appearance="outline" class="axis-selector">
        <mat-label>X Axis</mat-label>
        <mat-select [value]="xAxisParam" (selectionChange)="setXAxis($event)">
          <mat-option *ngFor="let param of availableParams" [value]="param">
            {{ getDisplayName(param) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="axis-selector">
        <mat-label>Y Axis</mat-label>
        <mat-select [value]="yAxisParam" (selectionChange)="setYAxis($event)">
          <mat-option *ngFor="let param of availableParams" [value]="param">
            {{ getDisplayName(param) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  
  <div #chart class="chart-container"></div>
</div>
